@font-face{
  font-family:"PT Sans" ;
  font-style: normal;
  font-weight: 700px;
  src:url("../fonts/ptsans-700.woff2") format("woff2");
  font-display:swap;
}
body {
  background-color: white
}
nav {
display: inline
padding; 30px
}
